body {
    header {
        min-height: 70px;
        
        .header-container {
            background-color: $clr-light-black;
            position: relative;
            z-index: 50;
            box-shadow: 5px 0px 10px $clr-light-black-transparency;
            min-height: 70px;
            
        
            &.sticky {
                position: fixed;
                width: 100%;
                top: 0;
            }
        }
        .navbar-header {
            display: flex;
            align-items: center;
            width: 240px;
            position: relative;
            height: 70px;
            padding: 15px 30px;
            background-color: $clr-black;
            overflow: hidden;

            .logo-link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .logo {
                width: 35px;
                height: 25px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

            span { // Se remplazara por un icono
                color: $clr-white;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }

        .session-menu {
            position: absolute;
            right: 0;
            top: 0;
            height: 70px;
            padding: 15px;

            .profile {
                .img-container {
                    border-radius: 90%;
                    width: 40px;
                    height: 40px;
                    background-color: $clr-white;
                    padding: 2px;
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;

                    img {
                        width: 100%;
                        border-radius: 90%;
                    }
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: $clr-white;
                    padding: 0 10px;
                }
            }
        }
    }

    aside {
        &.admin-panel {
            position: fixed;
            padding-top: 70px;
            left: 0;
            background-color: $clr-white;
            width: 240px;
            height: 100%;
            top: 0px;
            z-index: 20;
            box-shadow: 1px 0px 20px $clr-black-transparency;

            .sidebar-nav{
                padding: 15px;

                .menu-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        a {
                            color: $clr-gray;
                            padding: 8px 35px 8px 15px;
                            display: block;
                            border-radius: 4px;
                            white-space: nowrap;

                            &:hover {
                                text-decoration: none;
                                color: $clr-light-black;
                            }
                        }
                    }
                }
            }

            .aside-footer {
                position: fixed;
                z-index: 10;
                bottom: 0px;
                left: 0px;
                -webkit-transition: 0.2s ease-out;
                -o-transition: 0.2s ease-out;
                transition: 0.2s ease-out;
                width: 240px;
                background: $clr-light-gray;
                border-top: 1px solid $clr-light-gray;

                a {
                    color: $clr-light-black;
                    display: block;
                    padding: 20px 30px;

                    .fa {
                        margin-right: 10px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .page-wrapper {
        margin-left: 240px; // dependiendo del media query
        background-color: $clr-light-gray;
        min-height: 400px; // hacer el min-height dinamico de acuerdo al tamaño total de la pag JS
        padding-bottom: 1.5em;
    }

    footer {
        bottom: 0;
        color: $clr-gray;
        //left: 0px;
        left: 240px; // dependiendo del media query
        padding: 17px 15px;
        position: relative;
        right: 0;
        border-top: 1px solid $clr-light-gray;
        background: #ffffff;
    }
}
