$clr-white: #FFFFFF;
$clr-black: #000000;
$clr-light-black: #1a1a1a;
$clr-gray: #67757c;
$clr-light-gray: #eef5f9;
$clr-black-transparency: rgba(0, 0, 0, 0.08);
$clr-light-black-transparency: rgba(0, 0, 0, 0.5);