.profile {
    .card {
        .card-content {
            padding: 0;
            .profile-bg {
                height: 165px;
                width: 100%;
            }
                figure {
                    text-align: center;
                    img {
                        width: 128px;
                        height: 128px;
                        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                        border-radius: 100%;
                        margin: -80px 0 20px;
                        overflow: hidden;
                        position: relative;
                        border: 2px solid $clr-white;
                    }
                }
            .user-info{
                padding: 0 1.5em 1.5em;
            }
        }
    }

    .edition-panel {
        padding: 1.0em;
        border-radius: 4px;
        background-color: $clr-white;

        .field {
            .help {
                display: none;
            }

            &.error {
                .help {
                    display: block;
                }
            }
        }
    }
}