body header {
  min-height: 70px; }
  body header .header-container {
    background-color: #1a1a1a;
    position: relative;
    z-index: 50;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    min-height: 70px; }
    body header .header-container.sticky {
      position: fixed;
      width: 100%;
      top: 0; }
  body header .navbar-header {
    display: flex;
    align-items: center;
    width: 240px;
    position: relative;
    height: 70px;
    padding: 15px 30px;
    background-color: #000000;
    overflow: hidden; }
    body header .navbar-header .logo-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    body header .navbar-header .logo {
      width: 35px;
      height: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    body header .navbar-header span {
      color: #FFFFFF;
      font-size: 20px;
      letter-spacing: 1px; }
  body header .session-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    padding: 15px; }
    body header .session-menu .profile .img-container {
      border-radius: 90%;
      width: 40px;
      height: 40px;
      background-color: #FFFFFF;
      padding: 2px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden; }
      body header .session-menu .profile .img-container img {
        width: 100%;
        border-radius: 90%; }
    body header .session-menu .profile span {
      display: inline-block;
      vertical-align: middle;
      color: #FFFFFF;
      padding: 0 10px; }
body aside.admin-panel {
  position: fixed;
  padding-top: 70px;
  left: 0;
  background-color: #FFFFFF;
  width: 240px;
  height: 100%;
  top: 0px;
  z-index: 20;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); }
  body aside.admin-panel .sidebar-nav {
    padding: 15px; }
    body aside.admin-panel .sidebar-nav .menu-list {
      list-style: none;
      margin: 0;
      padding: 0; }
      body aside.admin-panel .sidebar-nav .menu-list li a {
        color: #67757c;
        padding: 8px 35px 8px 15px;
        display: block;
        border-radius: 4px;
        white-space: nowrap; }
        body aside.admin-panel .sidebar-nav .menu-list li a:hover {
          text-decoration: none;
          color: #1a1a1a; }
  body aside.admin-panel .aside-footer {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    width: 240px;
    background: #eef5f9;
    border-top: 1px solid #eef5f9; }
    body aside.admin-panel .aside-footer a {
      color: #1a1a1a;
      display: block;
      padding: 20px 30px; }
      body aside.admin-panel .aside-footer a .fa {
        margin-right: 10px; }
      body aside.admin-panel .aside-footer a:hover {
        text-decoration: none; }
body .page-wrapper {
  margin-left: 240px;
  background-color: #eef5f9;
  min-height: 400px;
  padding-bottom: 1.5em; }
body footer {
  bottom: 0;
  color: #67757c;
  left: 240px;
  padding: 17px 15px;
  position: relative;
  right: 0;
  border-top: 1px solid #eef5f9;
  background: #ffffff; }

.profile .card .card-content {
  padding: 0; }
  .profile .card .card-content .profile-bg {
    height: 165px;
    width: 100%; }
  .profile .card .card-content figure {
    text-align: center; }
    .profile .card .card-content figure img {
      width: 128px;
      height: 128px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      margin: -80px 0 20px;
      overflow: hidden;
      position: relative;
      border: 2px solid #FFFFFF; }
  .profile .card .card-content .user-info {
    padding: 0 1.5em 1.5em; }
.profile .edition-panel {
  padding: 1.0em;
  border-radius: 4px;
  background-color: #FFFFFF; }
  .profile .edition-panel .field .help {
    display: none; }
  .profile .edition-panel .field.error .help {
    display: block; }
